@main("Editor Potigol") {
    <script>
        function update(e, tag) {
            var cursor = tag.selectionStart;
            var code = (e.keyCode ? e.keyCode : e.which);
            
            console.log(cursor);
            
            if(code == 9) {
                e.preventDefault(); //cancelar a função do tab de mudar o foco
                tag.value += "\t";
            } 
           
           /* 
            if(code == 13) {
                var line = document.createElement('input');
                line.setAttribute("id", (document.getElementById("body").children.length+1).toString());
                line.setAttribute("type","text");
                line.setAttribute("onKeyPress","update(event, this)" );
                document.getElementById("body").appendChild(line).focus();

                //console.info(line);
            }
            */
            $.post("/mensagem", {
               caracter: e.key,
               //caracter: String.fromCharCode(e.keyCode),
               position: cursor,
               action: "insert"
            });
            
            //console.warn(String.fromCharCode(e.keyCode));
            console.warn(e.key);
            console.info(e);
        }
    </script>
    <div id="body">
<!--        <input id="1" type="text" onKeyPress="update(event, this)"> -->
<!--        <input id="1" name="1" type="text" onKeydown="update(event, this)"> -->
        <textarea id="texto" onKeydown="update(event, this)" style="width:100%; height:300px;"></textarea>
    </div>
}
